<html>

<head>
    <title style="font-family: Helvetica, Arial, sans-serif; text-align: center;"> Nigel's Lyrics Finder </title>
</head>

<body>

    <form style="font-family: Helvetica, Arial, sans-serif; text-align: center;" action="/inputSong" method="POST">
        <h5> Find your song's lyrics: </h5>
        <input type="text" name="song">
        <input type="submit">
    </form>
    <h3 style="font-family: Helvetica, Arial, sans-serif; text-align: center;"> {{nam}} </h3>
    <h4 style="font-family: Helvetica, Arial, sans-serif; text-align: center;"> {{aut}} </h4>
    <p style="font-family: Helvetica, Arial, sans-serif; text-align: center;">
        {% for line in lyr %}
            {% if line != '' %}
                {{ line }} <br>
            {% endif %}
        {% endfor %}
    </p>

</body>

</html>